.Footer{
    background: blue;
    padding: 1rem;
}
.Footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .8rem;
    max-width: 1300px;
    margin: 0 auto;
}
.Footer div > img{
    width: 80px;
}
@media (max-width: 420px){
    .Footer div{
        flex-direction: column;   
        gap: 1.4rem;
    } 
    .Footer div button{
        width: 100%;
    }  
}