.Header{
    padding: 1rem 0;
    background: #001e32;
}
.Header h2{
    color: #fff;
}
.Header .Header-flexGrid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 420px){
    .Header .Header-flexGrid{
        flex-direction: column;   
        gap: 1rem;
    }   
}